<div class="col-lg-6" id="<%= dom_id(server) %>">
  <div class="card hover-shadow-lg">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <h6 class="mb-0">
            <%= image_tag 'csgo.svg' %>
            Counter-Strike: Global-Offensive
          </h6>
        </div>
        <div class="text-right">
          <div class="actions">
            <a href="#" class="action-item"><i class="fas fa-sync"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body text-center">
      <%= link_to server, class: "avatar rounded-circle avatar-lg hover-translate-y-n3" do  %>
        <% if server.picture.variable? %>
          <%= image_tag(rails_blob_path(server.picture.variant(:thumb)), style: "height: 100%;") %>
        <% elsif server.picture.attached? %>
          <%= image_tag(rails_blob_path(server.picture), style: "height: 100%;") %>
        <% end %>
      <% end %>
      <h5 class="mt-2 mb-4">
        <%= link_to server.name, server %>
      </h5>
      <div class="input-group mb-3" data-controller="clipboard">
        <%= text_field_tag(
          "",
          server.port && server.connect_command,
          placeholder: "Waiting for port to be assigned..",
          class: "form-control",
          readonly: true,
          data: { clipboard_target: "command" }
        ) %>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" data-action="click->clipboard#copy" title="Copy command to clipboard">
            <%= fa_icon 'copy', data: { 'clipboard-target': 'icon' } %>
          </button>
        </div>
      </div>
      <span class="clearfix"></span>
      <%= render "servers/status_badge", server: server %>
      <div class="mt-4 pt-4 delimiter-top">
        <%= link_to edit_server_path(server), class: "btn btn-sm btn-light" do  %>
          <span class="btn-inner--icon"><%= fa_icon 'edit' %></span>
          Edit
        <% end %>
        <%= render "servers/start_stop_button", server: server %>
      </div>
    </div>
  </div>
</div>
