<%= turbo_stream_from "server_status_badge_#{@server.id}" %>
<%= turbo_stream_from "server_right_actions_#{@server.id}", style: "display: none" %>

<% content_for(:sublayout, "sidenav") %>

<% content_for(:title) do %>
  <%= @server.name %>
<% end %>

<% content_for(:subtitle) do %>
  <%= render "servers/status_badge", server: @server %>
<% end %>

<% content_for(:title_right) do %>
  <%= render "servers/header_image", server: @server %>
<% end %>

<% content_for(:left_actions) do %>
  <%= link_to servers_path, class: "btn btn-icon btn-group-nav shadow btn-neutral" do %>
    <span class="btn-inner--icon"><%= fa_icon 'arrow-left' %></span>
    <span class="btn-inner--text d-none d-md-inline-block">Back</span>
  <% end %>
<% end %>

<% content_for(:right_actions) do %>
  <%= render "servers/detail_right_actions", server: @server %>
<% end %>

<% content_for(:sidenav) do %>
  <%= render "servers/detail_sidenav", server: @server, active: 'logs' %>
<% end %>

<pre class="console-logs" data-controller="logs" data-logs-target="container">May  5 13:54:02:  quit
May  5 13:54:03:  L 05/05/2023 - 13:54:03: [META] Loaded 0 plugins (1 already loaded)
May  5 13:54:03:  Host_ShutdownServer
May  5 13:54:03:  CBaseServer::Shutdown
May  5 13:54:03:  CSteam3Server::Shutdown
May  5 13:54:03:  NET_SteamGameServer_Shutdown
May  5 13:54:03:  Shutting down low level socket/threading support.
May  5 13:54:03:  SteamGameServer_Shutdown
May  5 13:54:03:  L 05/05/2023 - 13:54:03: server_message: "quit"
May  5 13:54:03:  L 05/05/2023 - 13:54:03: Log file closed
May  5 13:54:03:  L 05/05/2023 - 13:54:03: server_message: "restart"
May  5 13:54:03:  SV_ShutdownGameDLL
May  5 13:54:03:  L 05/05/2023 - 13:54:03: Log file closed.
May  5 13:54:03:  Host_Shutdown
May  5 13:54:04:  Shutdown function NET_Shutdown() not in list!!!
May  5 13:54:04:  NET_Shutdown
May  5 13:54:04:  NET_CloseAllSockets
May  5 13:54:04:  NET_SteamGameServer_Shutdown
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_203.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_203.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_185.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_185.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_184.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_184.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_195.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_195.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_189.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_189.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_181.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_181.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_194.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_194.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_000.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_000.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_003.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_003.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_004.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_004.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_125.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_125.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_172.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_172.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_182.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_182.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_191.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_191.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_006.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_006.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_178.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_178.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_126.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_126.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_149.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_149.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_127.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_127.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_028.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_028.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_049.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_049.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_068.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_068.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_065.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_065.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_040.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_040.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_064.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_064.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_053.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_053.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_061.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_061.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_070.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_070.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_078.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_078.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_095.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_095.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_067.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_067.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_071.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_071.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_077.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_077.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_079.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_079.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_192.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_192.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_087.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_087.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_188.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_188.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_131.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_131.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_020.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_020.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_007.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_007.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_001.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_001.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_013.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_013.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_014.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_014.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_011.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_011.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_008.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_008.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_009.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_009.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_140.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_140.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_010.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_010.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_111.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_111.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_138.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_138.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_129.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_129.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_116.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_116.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_081.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_081.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_005.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_005.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_154.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_154.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_088.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_088.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_091.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_091.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_109.vpk was never closed
May  5 13:54:04:  File /home/dathost/csgo_ds/csgo/pak01_109.vpk was never closed
May  5 13:54:04:  --- SERVER EXITED ---</pre>
