<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body class="g-sidenav-hidden">
    <header class="header header-transparent" id="header-main">
      <!-- Topbar -->
      <div id="navbar-top-main" class="navbar-top  navbar-dark bg-dark border-bottom">
        <div class="container px-0">
          <div class="navbar-nav align-items-center">
            <div class="d-none d-lg-inline-block">
              <span class="navbar-text mr-3">Prism — Swiss Gameservers</span>
            </div>
            <div class="ml-auto">
              <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="../../pages/utility/support.html">Support</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link pr-0" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-circle"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right">
                    <h6 class="dropdown-header">
                      <%= image_tag current_user.image_url, class: "avatar avatar-sm rounded-circle mx-auto" %>
                      <span class="ml-2"><%= current_user.username %></span>
                    </h6>
                    <div class="dropdown-divider" role="presentation"></div>
                    <%= link_to destroy_user_session_path, class: 'dropdown-item', data: { turbo_method: :delete } do %>
                      <i class="fas fa-sign-out-alt"></i>Sign out
                    <% end %>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- Main navbar -->
      <nav class="navbar navbar-main navbar-expand-lg navbar-dark bg-dark" id="navbar-main">
        <div class="container px-lg-0">
          <!-- Logo -->
          <%= link_to root_path, class: 'navbar-brand mr-lg-5' do %>
            <%= image_tag 'logo.png', id: "navbar-logo", style: "height: 50px;" %>
          <% end %>
          <!-- Navbar collapse trigger -->
          <button class="navbar-toggler pr-0" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main-collapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <!-- Navbar nav -->
          <div class="collapse navbar-collapse" id="navbar-main-collapse">
            <ul class="navbar-nav align-items-lg-center">
              <!-- Home - Overview  -->
              <li class="nav-item ">
                <%= link_to "Servers", servers_path, class: "nav-link" %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="main-content">
      <!-- Header (account) -->
      <section class="header-account-page bg-primary d-flex align-items-end" data-offset-top="#header-main" style="padding-top: 147.984px;">
        <!-- Header container -->
        <div class="container pt-4 pt-lg-0">
          <div class="row justify-content-end">
            <div class="col-12">
              <!-- Salute + Small stats -->
              <div class="row align-items-center mb-4">
                <div class="col-lg-6 col-xl-6 mb-4 mb-md-0">
                  <span class="h2 mb-0 text-white d-block">
                    <%= content_for(:title) %>
                  </span>
                  <span class="text-white">
                    <%= content_for(:subtitle) %>
                  </span>
                </div>
                <div class="col-auto flex-fill d-none d-xl-block">
                  <%= content_for(:title_right) %>
                </div>
              </div>
              <!-- Account navigation -->
              <div class="d-flex">
                <%= content_for(:left_actions) %>
                <div class="btn-group btn-group-nav shadow ml-auto" role="group" aria-label="Basic example">
                  <%= content_for(:right_actions) %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="slice bg-section-secondary">
        <div class="container">
          <% if content_for(:sublayout) == "sidenav" %>
            <div class="row row-grid">
              <div class="col-lg-9 order-lg-2">
                <%= render 'layouts/flash_messages' %>
                <%= yield %>
              </div>
              <div class="col-lg-3 order-lg-1">
                <%= content_for(:sidenav) %>
              </div>
            </div>
          <% else %>
            <%= render 'layouts/flash_messages' %>
            <%= yield %>
          <% end %>
        </div>
      </section>
    </div>
    <footer class="footer p-0 footer-light bg-section-secondary" id="footer-main">
      <div class="container">
        <div class="py-4">
          <div class="row align-items-md-center">
            <div class="col-md-4 mb-4 mb-md-0">
              <div class="d-flex align-items-center">
                <p class="text-sm mb-0">© Prism-Hosting 2023</p>
              </div>
            </div>
            <div class="col-sm-6 col-md-4 mb-4 mb-sm-0">
              <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link" href="../../pages/utility/support.html">Support</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../../pages/utility/terms.html">Terms</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../../pages/utility/privacy.html">Privacy</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-4">
              <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                <li class="nav-item">
                  <a class="nav-link" href="https://github.com/Prism-Hosting" target="_blank">
                    <i class="fab fa-github"></i>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="https://hub.docker.com/prismhosting" target="_blank">
                    <i class="fab fa-docker"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
